# Variáveis de Ambiente
PORT=3000

# Configuração do Banco de Dados (PostgreSQL é o padrão com Prisma)
DATABASE_URL="postgresql://docker:docker@localhost:5432/database?schema=public"
# user: docker, password: docker, host: localhost, port: 5432, database: P29_POO